body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ffd6e0, #cce7ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  color: #ff6f91;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #ff9aa2;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #ff6f91;
}
